body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

p {
    line-height: 1.6;
}

.article {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.article-header img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.article-body {
    font-size: 15px;
}

.read-more {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #5A4FCF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.back-button {
    display: block;
    margin: 30px auto 150px 50px; /* Center button */
    padding: 10px 20px;
    background-color: #5A4FCF; /* Blue color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none; /* Remove underline from text */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    width: 55px;
}

.back-button:hover {
    background-color: #4741C8; /* Darker blue on hover */
}


footer {
    background-color: #333; /* Dark gray footer */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center;
    bottom: 0; /* Position at absolute bottom */
    width: 100%; /* Span full width */
}

footer p {
    margin: 0;
}